{% extends 'layout.html' %}

{% block body %}
	<!--<meta http-equiv="refresh" content="1">-->
	<header>
		<div class="container">
			<div id="logo">
				<a href="{{ url_for('index') }}" id="logo"><img src="{{ url_for('static', filename='images/logo2.png') }}"></a>
			</div>
			<nav>
				<ul>
					<!--<input type="submit" value="Sign up" class="input_btn1">-->
					<li><a href="{{ url_for('index') }}">Dashboard</a></li>
					<li><a href="{{ url_for('clasament') }}">Clasament</a></li>
					<li><a href="{{ url_for('profil') }}">Profil ({{ uname }})
					</a></li>
					<li><button onclick="window.location.href='{{ url_for('logout') }}'" class="input_btn1">Log out</button></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="index">
		<div class="container">
			<h1>{{ numeprob }}</h1><hr>
			<p>{{ enunt }}</p>
			<h1>Date de intrare</h1><hr>
			<ul>
				<li>{{ intrare }}</li>
			</ul>
			<br>
			<h1>Date de iesire</h1><hr>
			<ul>
				<li>{{ iesire }}</li>
			</ul><br>

			<h1>Rezolvare:</h1><br>
			
			<form method="POST" action="{{ url_for('injoc', usrn=usrn, grad=grad) }}">
				<textarea class="codetextarea" name="solutie"></textarea><br><br>
				<button type="submit" class="input_btn2">Trimite solutie</button>
			</form>
		</div>
	</section>

	<!-- javascript files-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/default.js') }}"></script>
	<script type="text/javascript" src="http://codemirror.net/mode/clike/clike.js"></script>
{% endblock %}